.container {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .options-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 950px;
  }
  
  .answer-button {
    background-color: #836bcf;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 45%;
  }
  
  .answer-button input {
    display: none;
  }
  
  .answer-button:hover {
    background-color: #f0f0f0;
    color: black;
  }
  
  .answer-button.selected {
    background-color: #52c0f5;
    color: #fff;
  }
  
  .next-button-container {
    background-color: #232289;
    border-radius: 5px;
    padding: 20px 40px;
    margin: 5px;
    font-size: 130%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 20%;
    color: white;
  }
  
  .next-button-container:hover {
    background-color: #127bb1;
    color: white;
  }
  
  .styled-button {
    background-color: #232289;
    border-radius: 5px;
    padding: 20px 40px;
    margin: 5px;
    font-size: 130%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 20%;
    border: none;
    color: white;
  }
  
  .styled-button:hover {
    background-color: #127bb1;
    color: white;
  }
  
  .results-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .modal-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #232289;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .modal-button:hover {
    background-color: #127bb1;
  }
  