.container {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover; 
    background-position: center;
  }
  
  .options-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 950px;
  }
  
  .answer-button {
    background-color: #836bcf;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 45%;
    border-radius: 15px;
    box-shadow: 10px 10px 20px white, -10px -10px 20px white;
  }
  
  .answer-button input {
    display: none;
  }
  
  .answer-button:hover {
    background-color: #f0f0f0;
    color: black;
  }
  
  .answer-button.selected {
    background-color: #52c0f5;
    color: #fff;
  }
  
  .next-button-container {
    background-color: #232289;
    border-radius: 5px;
    padding: 20px 40px;
    margin: 5px;
    font-size: 130%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 20%;
    color: white;
    border-radius: 15px;
    box-shadow: 10px 10px 20px #1a1a1a, -10px -10px 20px #4f4f4f;
  }
  
  .next-button-container:hover {
    background-color: #127bb1;
    color: white;
  }
  
  .styled-button {
    background-color: #232289;
    border-radius: 5px;
    padding: 20px 40px;
    margin: 5px;
    font-size: 130%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 20%;
    border: none;
    color: white;
  }
  
  .styled-button:hover {
    background-color: #127bb1;
    color: white;
  }
  
  .results-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .modal-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #232289;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .modal-button:hover {
    background-color: #127bb1;
  }
  

  .help-button {
    position: fixed; /* Posiciona el botón en la parte inferior derecha */
    bottom: 20px; /* Ajusta el espaciado inferior */
    right: 20px; /* Ajusta el espaciado a la derecha */
    width: 50px; /* Ancho del botón */
    height: 50px; /* Alto del botón */
    border-radius: 50%; /* Redondear el botón */
    background-color: #ff4757; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    font-size: 24px; /* Tamaño de la fuente */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra del botón */
    transition: background-color 0.3s; /* Transición suave para el color */
  }
  
  .help-button:hover {
    background-color: #e84118; /* Color al pasar el mouse */
  }
  